<footer id="footer-1" class="footer division">
  <div class="container">
    <div class="row">
      <!-- FOOTER INFO -->
      <div class="col-md-5 col-lg-4 col-xl-4">
        <div class="footer-info mb-40">
          <!-- Footer Logo -->
          <div class="footer-logo">
            <img src="assets/images/logo-03.png" alt="footer-logo" />
          </div>

          <!-- Footer Copyright -->
          <p>&copy; 2020 Testo. All Rights Reserved</p>
        </div>
      </div>

      <!-- FOOTER CONTACTS -->
      <div class="col-md-7 col-lg-4 col-xl-5">
        <div class="footer-contacts mb-40">
          <!-- Address -->
          <p class="p-xl mt-10">Los Angeles,</p>
          <p class="p-xl">8721 M Central Avenue, CA 90036</p>

          <!-- Contacts -->
          <p class="p-lg foo-email">
            Email: <a href="mailto:yourdomain@mail.com">hello@yourdomain.com</a>
          </p>
          <p class="p-lg">
            Call Now:
            <span class="salmon-color"
              ><a href="tel:123456789">789-654-3210</a></span
            >
          </p>
        </div>
      </div>

      <!-- FOOTER INSTAGRAM -->
      <div class="col-md-12 col-lg-4 col-xl-3">
        <div class="footer-img mb-40">
          <!-- Images -->
          <ul class="text-center clearfix">
            <li>
              <a href="#" target="_blank"
                ><img
                  class="insta-img"
                  src="assets/images/instagram/img-01.jpg"
                  alt="insta-img"
              /></a>
            </li>
            <li>
              <a href="#" target="_blank"
                ><img
                  class="insta-img"
                  src="assets/images/instagram/img-02.jpg"
                  alt="insta-img"
              /></a>
            </li>
            <li>
              <a href="#" target="_blank"
                ><img
                  class="insta-img"
                  src="assets/images/instagram/img-03.jpg"
                  alt="insta-img"
              /></a>
            </li>
            <li>
              <a href="#" target="_blank"
                ><img
                  class="insta-img"
                  src="assets/images/instagram/img-04.jpg"
                  alt="insta-img"
              /></a>
            </li>
            <li>
              <a href="#" target="_blank"
                ><img
                  class="insta-img"
                  src="assets/images/instagram/img-05.jpg"
                  alt="insta-img"
              /></a>
            </li>
            <li>
              <a href="#" target="_blank"
                ><img
                  class="insta-img"
                  src="assets/images/instagram/img-06.jpg"
                  alt="insta-img"
              /></a>
            </li>
          </ul>
        </div>
      </div>
      <!-- END FOOTER IMAGES -->
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</footer>
<!-- END FOOTER-1 -->
