<!-- BANNER-3
			============================================= -->
<section id="banner-3" class="bg-salmon banner-section division">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- BANNER TEXT -->
      <div class="col-md-7 col-lg-6">
        <div class="banner-3-txt white-color">
          <!-- Title  -->
          <h4 class="h4-xl">Download mobile App and</h4>
          <h2>save up to 20%</h2>

          <!-- Text -->
          <p class="p-md">
            Aliquam a augue suscipit, luctus neque purus ipsum and neque dolor
            primis libero tempus, blandit varius
          </p>

          <!-- Store Badges -->
          <div class="stores-badge">
            <!-- AppStore -->
            <a href="#" class="store">
              <img
                class="appstore-original"
                src="assets/images/appstore.png"
                alt="appstore-logo"
              />
            </a>

            <!-- Google Play -->
            <a href="#" class="store">
              <img
                class="googleplay-original"
                src="assets/images/googleplay.png"
                alt="googleplay-logo"
              />
            </a>
          </div>
        </div>
      </div>

      <!-- BANNER IMAGE -->
      <div class="col-md-5 col-lg-6">
        <div class="banner-3-img">
          <img
            class="img-fluid"
            src="assets/images/e-shop.png"
            alt="banner-image"
          />
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- END BANNER-3 -->
