<div class="container">
  <div class="row">
    <div class="col-6 mx-auto mt-5">
      <h2>update article</h2>
      <input
        [(ngModel)]="article.titre"
        placeholder="titre"
        type="text"
        class="form-control m-2"
      />
      <textarea
        [(ngModel)]="article.description"
        placeholder="description"
        class="form-control m-2"
        name=""
        id=""
        cols="30"
        rows="5"
      ></textarea>

      <input
        (change)="selectImage($event)"
        placeholder="image"
        type="file"
        class="form-control m-2"
      />
      <angular-editor
        [placeholder]="'write your text here .......'"
        class="m-2 ml-3"
        [(ngModel)]="article.content"
      ></angular-editor>

      <button (click)="update()" class="btn btn-dark m-2 form-control">
        Update
      </button>
    </div>
  </div>
</div>
