<!-- PAGE HERO
			============================================= -->
<div id="product-page" class="page-hero-section division">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="hero-txt text-center white-color">
          <!-- Breadcrumb -->
          <div id="breadcrumb">
            <div class="row">
              <div class="col">
                <div class="breadcrumb-nav">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="demo-1.html">Home</a>
                      </li>
                      <li class="breadcrumb-item">
                        <a href="menu-2.html">Menu</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Smokey House
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>

          <!-- Title -->
          <h2 class="h2-xl">{{ menu.titre }}</h2>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</div>
<!-- END PAGE HERO -->

<!-- SINGLE PRODUCT
			============================================= -->
<section id="product-1" class="pt-100 single-product division">
  <div class="container">
    <div class="row">
      <!-- PRODUCT IMAGE -->
      <div class="col-lg-7">
        <div class="product-preview">
          <!-- TABS CONTENT -->
          <div class="tabs-content">
            <!-- TAB-1 CONTENT -->
            <div id="tab-1-img" class="tab-content text-center displayed">
              <img
                class="img-fluid"
                [src]="endpoint.url + 'getmenuimage/' + menu.img"
                alt="menu-image"
              />
            </div>
          </div>
          <!-- END TABS CONTENT -->
        </div>
      </div>
      <!-- END PRODUCT IMAGE -->

      <!-- PRODUCT DISCRIPTION -->
      <div class="col-lg-5">
        <div class="product-description">
          <!-- TITLE -->
          <div class="project-title">
            <!-- Title -->
            <h2 class="h2-lg">{{ menu.Titre }}</h2>

            <!-- Rating -->
            <div class="stars-rating">
              <span>4.38</span>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
              <span>(3 Customer Reviews)</span>
            </div>

            <!-- Price -->
            <div class="project-price">
              <h4 class="h4-xl yellow-color">${{ menu.prix }}</h4>
            </div>
          </div>

          <!-- TEXT -->
          <div class="product-txt">
            <!-- Text -->
            <p class="p-md grey-color">
              {{ menu.description }}
            </p>

            <!-- Product Data -->
            <div class="product-info">
              <p>
                Portion Size: <span> {{ menu.weight }}g</span>
              </p>
              <p>
                Calories: <span>{{ menu.calories }}Kj</span>
              </p>
            </div>

            <input class="qty" type="number" min="1" max="20" value="1" />

            <!-- List -->
            <ul class="txt-list">
              <li class="list-item">
                <p class="p-sm">We accept credit cards or cash to a courier</p>
              </li>
              <li class="list-item">
                <p class="p-sm">Shipping cost is $2 (Free from $35)</p>
              </li>
              <li class="list-item">
                <p class="p-sm">Order before noon for same day dispatch</p>
              </li>
            </ul>
          </div>
          <!-- END TEXT-->
        </div>
      </div>
      <!-- END PRODUCT DISCRIPTION -->
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- END SINGLE PRODUCT -->
