<!-- ABOUT-3
			============================================= -->
<section id="about-3" class="wide-60 about-section division">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- ABOUT IMAGE -->
      <div class="col-md-5 col-lg-6">
        <div class="about-3-img text-center mb-40">
          <img
            class="img-fluid"
            src="assets/images/about-04-img.png"
            alt="about-image"
          />
        </div>
      </div>

      <!-- ABOUT TEXT -->
      <div class="col-md-7 col-lg-6">
        <div class="about-3-txt mb-40">
          <!-- Title -->
          <h2 class="h2-sm">
            Nothing brings people together like a good sushi
          </h2>

          <!-- Text -->
          <p class="p-md">
            Semper lacus cursus porta primis ligula risus tempus and sagittis
            ipsum mauris lectus laoreet purus ipsum tempor enim ipsum porta
            justo integer ultrice aligula lectus aenean magna and pulvinar purus
            at pretium gravida
          </p>

          <!-- List -->
          <ul class="txt-list">
            <li class="list-item">
              <p class="p-md">
                Fringilla risus, luctus mauris orci auctor purus euismod pretium
                purus pretium ligula rutrum tempor sapien
              </p>
            </li>

            <li class="list-item">
              <p class="p-md">Quaerat sodales sapien euismod purus blandit</p>
            </li>

            <li class="list-item">
              <p class="p-md">
                Nemo ipsam egestas volute turpis dolores ut aliquam quaerat
                sodales sapien undo pretium a purus mauris
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- END ABOUT TEXT -->
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- END ABOUT-3 -->
