<!-- HERO-12
			============================================= -->
<section id="hero-12" class="bg-02 hero-section division">
  <div class="container">
    <div class="row d-flex align-items-center">
      <!-- HERO TEXT -->
      <div class="col-lg-10 offset-lg-1">
        <div class="hero-12-txt white-color text-center">
          <!-- Title -->
          <h3>Natural & Fresh</h3>
          <h2 class="salmon-color">Testo Sushi</h2>

          <!-- Text -->
          <p class="p-xl lightgrey-color">
            Feugiat primis ligula risus auctor laoreet augue egestas mauris
            tortor and iaculis pretium undo viverra mauris ipsum magna posuere
            ligula
          </p>

          <!-- Icons List -->
          <div class="hbox-1-wrapper ico-80">
            <div class="row">
              <!-- ABOUT BOX #1 -->
              <div class="col-sm-3">
                <div class="hbox-1 mb-40">
                  <!-- Icon -->
                  <img
                    class="img-fluid"
                    src="assets/images/rolls.png"
                    alt="hero-box-image"
                  />

                  <!-- Text -->
                  <h5 class="h5-md">Rolls</h5>
                </div>
              </div>

              <!-- ABOUT BOX #2 -->
              <div class="col-sm-3">
                <div class="hbox-1 mb-40">
                  <!-- Icon -->
                  <img
                    class="img-fluid"
                    src="assets/images/sashimi.png"
                    alt="hero-box-image"
                  />

                  <!-- Text -->
                  <h5 class="h5-md">Sashimi</h5>
                </div>
              </div>

              <!-- ABOUT BOX #3 -->
              <div class="col-sm-3">
                <div class="hbox-1 mb-40">
                  <!-- Icon -->
                  <img
                    class="img-fluid"
                    src="assets/images/nigiri.png"
                    alt="hero-box-image"
                  />

                  <!-- Text -->
                  <h5 class="h5-md">Nigiri</h5>
                </div>
              </div>

              <!-- ABOUT BOX #4 -->
              <div class="col-sm-3">
                <div class="hbox-1 mb-40">
                  <!-- Icon -->
                  <img
                    class="img-fluid"
                    src="assets/images/ramen.png"
                    alt="hero-box-image"
                  />

                  <!-- Text -->
                  <h5 class="h5-md">Ramen</h5>
                </div>
              </div>
            </div>
          </div>
          <!-- End Icons List -->
        </div>
      </div>
      <!-- END HERO TEXT -->
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- END HERO-12 -->
