<header
  id="header-1"
  class="header navik-header header-shadow center-menu-1 header-transparent"
>
  <div class="container">
    <!-- NAVIGATION MENU -->
    <div class="navik-header-container">
      <!-- CALL BUTTON -->
      <div class="callusbtn">
        <a href="tel:123456789"><i class="fas fa-phone"></i></a>
      </div>

      <!-- LOGO IMAGE -->
      <div
        class="logo"
        data-mobile-logo="assets/images/logo-03.png"
        data-sticky-logo="assets/images/logo-03.png"
      >
        <a routerLink="/"
          ><img src="assets/images/logo-03.png" alt="header-logo"
        /></a>
      </div>

      <!-- BURGER MENU -->
      <div class="burger-menu">
        <div class="line-menu line-half first-line"></div>
        <div class="line-menu"></div>
        <div class="line-menu line-half last-line"></div>
      </div>

      <!-- MAIN MENU -->
      <nav class="navik-menu menu-caret navik-salmon">
        <ul class="top-list">
          <!-- DROPDOWN MENU -->
          <li>
            <a routerLink="/about">About</a>
          </li>

          <!-- DROPDOWN MENU -->
          <li>
            <a routerLink="/mymenu">Our Menu</a>
          </li>
        </ul>
        <ul>
          <!-- DROPDOWN MENU -->
          <li>
            <a href="#">Shop</a>
          </li>

          <!-- DROPDOWN MENU -->
          <li>
            <a routerLink="/detailarticle">Blog</a>
          </li>

          <!-- DROPDOWN MENU -->
          <li>
            <a href="#">Contacts</a>
          </li>
        </ul>
      </nav>
      <!-- END MAIN MENU -->
    </div>
    <!-- END NAVIGATION MENU -->
  </div>
  <!-- End container -->
</header>
<!-- END HEADER-1 -->
